<footer class="footer" style="background-color: #ffffff;">
	<div class="container-fluid">
		<div class="copyright float-right">
			&copy;
			<script>
				document.write(new Date().getFullYear())
			</script> - Sistema desarrollado con <i class="material-icons" style="color: #fd4141;">favorite</i> por
			estudiantes de proA capital
		</div>
	</div>
</footer>