<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <!-- CSS Files -->
        <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />

        <link href="/stylesheets/404.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    </head>

    <body>
        <div class="content">
            <!-----creo un div llamado fondo para despues modificar en el archivo css ------>
            <div class="fondo"></div>
            <!-----creo un div llamado mensajes para despues modificar el texto en css------>
            <div class="mensajes">
                <h1>404</h1>
                <h2>Aca no hay nadie.</h2>
            </div>
            <!-----creo un div llamado boton para despues modificar el boton en css------>
            <div class="botones">
                <a class="btn btn-primary" href="/dashboard" role="button">Inicio</a>
                <a class="btn btn-primary" href="/" role="button">Login</a>
            </div>
        </div>
    </body>
</html>
