<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />

        <!-- CSS Files -->
        <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />

        <link href="/stylesheets/404.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    </head>

    <body>
        <div id="content">
            <div class="content">
                <h1 id="error">404</h1>
                <h2>Ruta no encontrada, por favor dirijase al inicio.</h2>
                <div id="boton">
                    <a class="btn btn-danger" href="/dashboard" role="button">Inicio</a>
                </div>
            </div>
        </div>


    </body>
</html>
