<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <style>
            .ft10 {
                font-size: 11px;
                font-family: Times;
                color: #000000;
            }
            .ft11 {
                font-size: 11px;
                font-family: Times;
                color: #000000;
            }
            .ft12 {
                font-size: 19px;
                font-family: Times;
                color: #000000;
            }
            .ft13 {
                font-size: 11px;
                line-height: 16px;
                font-family: Times;
                color: #000000;
            }
            .ft14 {
                font-size: 11px;
                line-height: 16px;
                font-family: Times;
                color: #000000;
            }
        </style>

        <h1><%= name %></h1>

        <div id="page1-div">
            <img src="/public/images/imgPDF/target001.png" alt="background image" />
            <p style="position: absolute; top: 168px; left: 39px; white-space: nowrap" class="ft10">Escuela:</p>
            <p style="position: absolute; top: 244px; left: 39px; white-space: nowrap" class="ft10">Plan:&nbsp;<b>INFORMATICA CON FORMACION ESPECIALIZADA EN&nbsp;</b></p>
            <p style="position: absolute; top: 260px; left: 77px; white-space: nowrap" class="ft11"><b>DESARROLLO DE SOFTWARE</b></p>
            <p style="position: absolute; top: 168px; left: 96px; white-space: nowrap" class="ft13">
                <b>PROGRAMA DE DESARROLLO EDUCATIVO - NIVEL&nbsp;<br />SECUNDARIO - ESCUELA EXPERIMENTAL CON&nbsp;<br />ÉNFASIS EN TECNOLOGÍAS DE LA INFORMACIÓN Y&nbsp;<br />LA COMUNICACIÓN</b>
            </p>
            <p style="position: absolute; top: 284px; left: 120px; white-space: nowrap" class="ft11"><b>PEPE</b></p>
            <p style="position: absolute; top: 168px; left: 396px; white-space: nowrap" class="ft10">Domicilio:</p>
            <p style="position: absolute; top: 168px; left: 466px; white-space: nowrap" class="ft11"><b>AGUSTÍN GARZON 1221 - CORDOBA - CAPITAL</b></p>
            <p style="position: absolute; top: 244px; left: 396px; white-space: nowrap" class="ft10">Curso:<b>&nbsp;5&nbsp;&nbsp;</b>División:<b>&nbsp;A&nbsp;&nbsp;</b>Turno:<b>&nbsp;MAÑANA Y TARDE&nbsp;</b>&nbsp;Ciclo:&nbsp;<b>2020</b></p>
            <p style="position: absolute; top: 284px; left: 488px; white-space: nowrap" class="ft11"><b>DNI - 44872737</b></p>
            <p style="position: absolute; top: 284px; left: 39px; white-space: nowrap" class="ft10">Estudiante:</p>
            <p style="position: absolute; top: 284px; left: 398px; white-space: nowrap" class="ft10">Tipo y N° Doc:</p>
            <p style="position: absolute; top: 123px; left: 309px; white-space: nowrap" class="ft12"><b>Informe de Progreso Escolar</b></p>
            <p style="position: absolute; top: 332px; left: 33px; white-space: nowrap" class="ft11"><b>Espacio Curricular</b></p>
            <p style="position: absolute; top: 332px; left: 201px; white-space: nowrap" class="ft11"><b>Contenido Priorizado</b></p>
            <p style="position: absolute; top: 332px; left: 394px; white-space: nowrap" class="ft11"><b>Aprendizaje Trabajado</b></p>
            <p style="position: absolute; top: 332px; left: 765px; white-space: nowrap" class="ft11"><b>L</b></p>
            <p style="position: absolute; top: 332px; left: 791px; white-space: nowrap" class="ft11"><b>P</b></p>
            <p style="position: absolute; top: 332px; left: 813px; white-space: nowrap" class="ft11"><b>VF</b></p>
            <p style="position: absolute; top: 358px; left: 33px; white-space: nowrap" class="ft10">EDUCACIÓN FÍSICA</p>
            <p style="position: absolute; top: 358px; left: 201px; white-space: nowrap" class="ft10">1-Cuerpo</p>
            <p style="position: absolute; top: 358px; left: 394px; white-space: nowrap" class="ft10">Comprensión de la actividad física como forma de vida saludable</p>
            <p style="position: absolute; top: 358px; left: 765px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 358px; left: 814px; white-space: nowrap" class="ft10">ES</p>
            <p style="position: absolute; top: 383px; left: 201px; white-space: nowrap" class="ft10">1-Cuerpo</p>
            <p style="position: absolute; top: 383px; left: 394px; white-space: nowrap" class="ft14">
                Comprensión de la importancia de la entrada en calor,&nbsp;<br />hidratación y elongación como partes fundamentales de una&nbsp;<br />sesión de entrenamiento
            </p>
            <p style="position: absolute; top: 383px; left: 791px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 439px; left: 201px; white-space: nowrap" class="ft10">1-Cuerpo</p>
            <p style="position: absolute; top: 439px; left: 394px; white-space: nowrap" class="ft10">Ejecución con fluidez de las formas básicas de movimiento</p>
            <p style="position: absolute; top: 439px; left: 791px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 464px; left: 201px; white-space: nowrap" class="ft10">2-Capacidades motoras</p>
            <p style="position: absolute; top: 464px; left: 394px; white-space: nowrap" class="ft14">Desarrollo de las capacidades de fuerza, resistencia y&nbsp;<br />coordinación de tren inferior y superior</p>
            <p style="position: absolute; top: 464px; left: 765px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 503px; left: 201px; white-space: nowrap" class="ft10">2-Capacidades motoras</p>
            <p style="position: absolute; top: 503px; left: 394px; white-space: nowrap" class="ft10">Ejecución de acción coordinativa óculo-manual-pedal</p>
            <p style="position: absolute; top: 503px; left: 791px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 529px; left: 201px; white-space: nowrap" class="ft10">2-Capacidades motoras</p>
            <p style="position: absolute; top: 529px; left: 394px; white-space: nowrap" class="ft10">Ejecución con fluidez de salto con elemento</p>
            <p style="position: absolute; top: 529px; left: 765px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 554px; left: 201px; white-space: nowrap" class="ft10">2-Capacidades motoras</p>
            <p style="position: absolute; top: 554px; left: 394px; white-space: nowrap" class="ft10">Desarrollo del equilibrio con pierna hábil e inhábil</p>
            <p style="position: absolute; top: 554px; left: 791px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 580px; left: 201px; white-space: nowrap" class="ft10">2-Capacidades motoras</p>
            <p style="position: absolute; top: 580px; left: 394px; white-space: nowrap" class="ft14">Construcción y desarrollo motriz a partir de distintas habilidades&nbsp;<br />y capacidades trabajadas en simultáneo</p>
            <p style="position: absolute; top: 580px; left: 765px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 619px; left: 201px; white-space: nowrap" class="ft10">3-Ejercicio físico y entrenamiento&nbsp;Creación y ejecución de un plan semanal de entrenamiento&nbsp;</p>
            <p style="position: absolute; top: 635px; left: 394px; white-space: nowrap" class="ft14">considerando aspectos técnicos, medidas de seguridad,&nbsp;<br />posibilidades, limitaciones, elementos y tiempos de descanso.</p>
            <p style="position: absolute; top: 619px; left: 765px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 674px; left: 201px; white-space: nowrap" class="ft10">3-Ejercicio físico y entrenamiento&nbsp;Ejecución y elaboración de mini plan de entrenamiento físico&nbsp;</p>
            <p style="position: absolute; top: 691px; left: 394px; white-space: nowrap" class="ft10">diario</p>
            <p style="position: absolute; top: 674px; left: 791px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 713px; left: 201px; white-space: nowrap" class="ft10">3-Ejercicio físico y entrenamiento&nbsp;Ejecución y propuesta de variables de ejercicios trabajados</p>
            <p style="position: absolute; top: 713px; left: 791px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 739px; left: 201px; white-space: nowrap" class="ft14">4-ESI: Género, autoestima y&nbsp;<br />diversidad</p>
            <p style="position: absolute; top: 739px; left: 394px; white-space: nowrap" class="ft10">Comprensión de los derechos igualitarios sin distinción de género</p>
            <p style="position: absolute; top: 739px; left: 791px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 778px; left: 201px; white-space: nowrap" class="ft14">4-ESI: Género, autoestima y&nbsp;<br />diversidad</p>
            <p style="position: absolute; top: 778px; left: 394px; white-space: nowrap" class="ft14">
                Asunción de una postura crítica frente a mensajes que&nbsp;<br />transmiten los medios de comunicación , en torno a cuestiones&nbsp;<br />sobre género y de la imagen corporal.
            </p>
            <p style="position: absolute; top: 778px; left: 791px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 834px; left: 201px; white-space: nowrap" class="ft14">4-ESI: Género, autoestima y&nbsp;<br />diversidad</p>
            <p style="position: absolute; top: 834px; left: 394px; white-space: nowrap" class="ft14">
                Fortalecimiento del autoestima mediante la reflexión de&nbsp;<br />inseguridades propias, priorizando la valoración de unx mismx&nbsp;<br />por encima de comentarios negativos
            </p>
            <p style="position: absolute; top: 834px; left: 765px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 889px; left: 33px; white-space: nowrap" class="ft10">CLUB DE CIENCIAS</p>
            <p style="position: absolute; top: 889px; left: 201px; white-space: nowrap" class="ft14">Que¿ ¿es¿ ¿IOT. &nbsp;Necesidades¿&nbsp;<br />¿cubre y quién¿ ¿accede¿ ¿a¿&nbsp;<br />¿esta¿ ¿tecnología.¿</p>
            <p style="position: absolute; top: 889px; left: 394px; white-space: nowrap" class="ft14">Reconocer cuáles son las tecnologías que se emplean en el&nbsp;<br />Internet de las Cosas.</p>
            <p style="position: absolute; top: 889px; left: 765px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 889px; left: 817px; white-space: nowrap" class="ft10">S</p>
            <p style="position: absolute; top: 945px; left: 201px; white-space: nowrap" class="ft14">Que¿ ¿es¿ ¿IOT. &nbsp;Necesidades¿&nbsp;<br />¿cubre y quién¿ ¿accede¿ ¿a¿&nbsp;<br />¿esta¿ ¿tecnología.¿</p>
            <p style="position: absolute; top: 945px; left: 394px; white-space: nowrap" class="ft10">Identificación y reconocimiento de ámbitos de aplicación de IOT.</p>
            <p style="position: absolute; top: 945px; left: 765px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 1000px; left: 201px; white-space: nowrap" class="ft14">Como investigar. El papel del&nbsp;<br />conocimiento.</p>
            <p style="position: absolute; top: 1000px; left: 394px; white-space: nowrap" class="ft10">Identificación de los tres aspectos inseparables del conocimiento.&nbsp;X</p>
            <p style="position: absolute; top: 1039px; left: 201px; white-space: nowrap" class="ft14">Como investigar. El papel del&nbsp;<br />conocimiento.</p>
            <p style="position: absolute; top: 1039px; left: 394px; white-space: nowrap" class="ft14">Reconocer los principales alcances de usar un método de&nbsp;<br />investigación.</p>
            <p style="position: absolute; top: 1039px; left: 765px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 1079px; left: 201px; white-space: nowrap" class="ft14">Revisión de etapa de&nbsp;<br />implementación de un proyecto&nbsp;<br />tecnológico</p>
            <p style="position: absolute; top: 1079px; left: 394px; white-space: nowrap" class="ft14">Reconocer las etapas de implementación de un proyecto&nbsp;<br />tecnológico.</p>
            <p style="position: absolute; top: 1079px; left: 765px; white-space: nowrap" class="ft10">X</p>
            <p style="position: absolute; top: 310px; left: 484px; white-space: nowrap" class="ft11"><b>Referencias: L = Logrado; P = Pendiente; VF = Valoración Final&nbsp;</b></p>
        </div>
    </body>
</html>
