<!DOCTYPE html>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <!-- Nuestros estilos -->
  <!-- <link rel="stylesheet" href="/stylesheets/pdf.css" /> -->

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <div class="jumbotron">
            <h1 class="display-4">Juan Perez</h1>
            <h3 class="lead">Informe del espacio</h3>
            <h2>ENTORNOS DIGITALES</h2>
            <hr class="my-4">
            <img src="https://panorama.oei.org.ar/_dev2/wp-content/uploads/2017/07/proa.png" class="img" />

            <div id="page1-div">
                <p style="position: absolute; top: 168px; left: 39px; white-space: nowrap" class="ft10">Escuela:</p>
                <p style="position: absolute; top: 244px; left: 39px; white-space: nowrap" class="ft10"><b>INFORMATICA CON FORMACION ESPECIALIZADA EN&nbsp;</b></p>
                <p style="position: absolute; top: 260px; left: 77px; white-space: nowrap" class="ft11"><b>DESARROLLO DE SOFTWARE</b></p>
                <p style="position: absolute; top: 168px; left: 96px; white-space: nowrap" class="ft13">
                    <b>PROGRAMA DE DESARROLLO EDUCATIVO - NIVEL&nbsp;<br />SECUNDARIO - ESCUELA EXPERIMENTAL CON&nbsp;<br />ÉNFASIS EN TECNOLOGÍAS DE LA INFORMACIÓN Y&nbsp;<br />LA COMUNICACIÓN</b>
                </p>
            </div>
            

        </div>

        <!-- <% name.forEach(function(InfoUser){ %>

        <% name.forEach(function(InfoUser){ %>
        <h1><%- InfoUser['nombre']%></h1>
        <h2><%- InfoUser['dni']%></h2>
        <p><%- InfoUser['apellido']%></p>
        <p><%- InfoUser['email']%></p>


        <% }); %>

        <div id="page1-div">
            <img src="/public/images/imgPDF/target001.png" alt="background image" />
            <p style="position: absolute; top: 168px; left: 39px; white-space: nowrap" class="ft10">Escuela:</p>
            <p style="position: absolute; top: 244px; left: 39px; white-space: nowrap" class="ft10">Plan:&nbsp;<b>INFORMATICA CON FORMACION ESPECIALIZADA EN&nbsp;</b></p>
            <p style="position: absolute; top: 260px; left: 77px; white-space: nowrap" class="ft11"><b>DESARROLLO DE SOFTWARE</b></p>
            <p style="position: absolute; top: 168px; left: 96px; white-space: nowrap" class="ft13">
                <b>PROGRAMA DE DESARROLLO EDUCATIVO - NIVEL&nbsp;<br />SECUNDARIO - ESCUELA EXPERIMENTAL CON&nbsp;<br />ÉNFASIS EN TECNOLOGÍAS DE LA INFORMACIÓN Y&nbsp;<br />LA COMUNICACIÓN</b>
            </p>
        </div>
    </body>
</html>
