<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <style>
            .ft10 {
                font-size: 11px;
                font-family: Times;
                color: #000000;
            }
            .ft11 {
                font-size: 11px;
                font-family: Times;
                color: #000000;
            }
            .ft12 {
                font-size: 19px;
                font-family: Times;
                color: #000000;
            }
            .ft13 {
                font-size: 11px;
                line-height: 16px;
                font-family: Times;
                color: #000000;
            }
            .ft14 {
                font-size: 11px;
                line-height: 16px;
                font-family: Times;
                color: #000000;
            }
        </style>

        <% name.forEach(function(InfoUser){ %>
        <h1><%- InfoUser['nombre']%></h1>
        <h2><%- InfoUser['dni']%></h2>
        <p><%- InfoUser['apellido']%></p>
        <p><%- InfoUser['email']%></p>


        <% }); %>

        <div id="page1-div">
            <img src="/public/images/imgPDF/target001.png" alt="background image" />
            <p style="position: absolute; top: 168px; left: 39px; white-space: nowrap" class="ft10">Escuela:</p>
            <p style="position: absolute; top: 244px; left: 39px; white-space: nowrap" class="ft10">Plan:&nbsp;<b>INFORMATICA CON FORMACION ESPECIALIZADA EN&nbsp;</b></p>
            <p style="position: absolute; top: 260px; left: 77px; white-space: nowrap" class="ft11"><b>DESARROLLO DE SOFTWARE</b></p>
            <p style="position: absolute; top: 168px; left: 96px; white-space: nowrap" class="ft13">
                <b>PROGRAMA DE DESARROLLO EDUCATIVO - NIVEL&nbsp;<br />SECUNDARIO - ESCUELA EXPERIMENTAL CON&nbsp;<br />ÉNFASIS EN TECNOLOGÍAS DE LA INFORMACIÓN Y&nbsp;<br />LA COMUNICACIÓN</b>
            </p>
        </div>
    </body>
</html>
