<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Usuario no registrado</title>
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link href="/stylesheets/themify-icons.css" rel="stylesheet" />

        <!-- Iconos Font Awesome -->
        <script src="https://kit.fontawesome.com/c49c6935a4.js" crossorigin="anonymous"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />

        <!-- CSS Files -->
        <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
        <link href="/stylesheets/paper-bootstrap-wizard.css" rel="stylesheet" />

        <!-- uikit -->
        <link rel="stylesheet" href="/stylesheets/uikit.min.css" />

    </head>
    <body class="containerLog">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card text-center">
                                <div class="card-body">
                                <h2 class="card-title">Debe loguearse para ingresar a esa ruta </h2>
                                <br>
                                <br>
                                <a class="btn btn-primary" href="/" role="button">Login</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
    </body>
        <!--   Core JS Files   -->
        <script src="javascripts/jquery-2.2.4.min.js" type="text/javascript"></script>
        <script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
        <script src="javascripts/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    
        <!--  Plugin for the Wizard -->
        <script src="javascript/demo.js" type="text/javascript"></script>
        <script src="javascripts/paper-bootstrap-wizard.js" type="text/javascript"></script>
    
        <!-- Jquery Validate -->
        <script src="javascripts/jquery.validate.min.js" type="text/javascript"></script>
</html>