<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Div class = "alert alert-error">
        <a class="close" data-dismiss="alert"> × </a>
        <Strong> Error! </Strong> This is a fatal error.
    </Div>
</body>
</html>