#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
body{
    background-color: #076cd9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%238f2517' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23ad2d1c' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%238f2517' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23ad2d1c' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23cc3521' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%230b326d' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%230e3d85' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%2310489c' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%230e3d85' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%230b326d' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%2310489c' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%230b326d' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%2310489c' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%230e3d85' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%2310489c' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.animate__animated.animate__backInLeft{
    --animate-delay: 1.5s;
    --animate-duration: 8s;
    --animate-repeat: 2;

}

.animate__animated.animate__bounceInRight{
    --animate-delay: 1.5s;
    --animate-duration: 8s;
    --animate-repeat: 2;
}
.animate__animated.animate__bounceInLeft{
    --animate-delay: 1.5s;
    --animate-duration: 8s;
    --animate-repeat: 2;
}

::selection {
    background: #2D2F36;
}
::-webkit-selection {
    background: #2D2F36;
}
::-moz-selection {
    background: #2D2F36;
}

@media (max-width: 767px) {
    .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    }
}
.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        height: 630px;
        width: 320px;
    }
}
.left {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
}
@media (max-width: 767px) {
    .left {
        height: 100%;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 270px;
    }
}
.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}
.eula {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}
.right {
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 50%;
}
@media (max-width: 767px) {
    .right {
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        max-height: 350px;
    }
}
svg {
    position: absolute;
    width: 320px;
}
path {
    fill: none;
    stroke: url(#linearGradient);;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}
.form {
    margin: 40px;
    position: absolute;
}
label {
    color:  #f0f0ff;
    display: block;
    font-size: 16px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}
input {
    background: transparent;
    border: solid 2px;
    color: #076cd8;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}
input::-moz-focus-inner { 
    border: 0; 
}
#submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
}
#submit:focus {
    color: #f2f2f2;
}
#submit:active {
    color: #d0d0d2;
}







/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text--transparent {
    fill: transparent;
}

.anim-shape {
    -ms-transform-origin: 0x 150px;
    transform-origin: 0x 150px;
    -webkit-transform: scale(0, 1) translate(0, 0);
    -ms-transform: scale(0, 1) translate(0, 0);
    transform: scale(0, 1) translate(0, 0);
    -webkit-animation: moving-panel 3s infinite alternate;
    animation: moving-panel 3s infinite alternate;
    -webkit-transform-origin: 0x 150px;
}

.colortext .anim-shape:nth-child(1) {
    fill: #0E1826;
}

.colortext .anim-shape:nth-child(2) {
    fill: #166973;
}

.colortext .anim-shape:nth-child(3) {
    fill: #65BFA6;
}

.colortext .anim-shape:nth-child(4) {
    fill: #F2CD5C;
}

.colortext .anim-shape:nth-child(5) {
    fill: #F26444;
}

.shadow {
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
}

.anim-shape--shadow {
    fill: #000;
    fill-opacity: .2;
}

@-webkit-keyframes moving-panel {
    100% {
        -webkit-transform: scale(1, 1) translate(20px, 0);
        transform: scale(1, 1) translate(20px, 0);
    }
}

@keyframes moving-panel {
    100% {
        -webkit-transform: scale(1, 1) translate(20px, 0);
        transform: scale(1, 1) translate(20px, 0);
        }
}

/* Other stuff */
html, body {
    height: 100%;
}



svg {
    position: absolute;
    width: 100%;
    height: 100%;
}