html,
body {
    height: 100%;
    background-color: #076cd9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%238f2517' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23ad2d1c' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%238f2517' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23ad2d1c' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23cc3521' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%230b326d' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%230e3d85' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%2310489c' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%230e3d85' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%230b326d' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%2310489c' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%230b326d' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%2310489c' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%230e3d85' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%2310489c' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: #ffffff;
    -webkit-box-shadow: 9px 7px 134px 53px rgba(0,0,0,0.67);
    -moz-box-shadow: 9px 7px 134px 53px rgba(0,0,0,0.67);
    box-shadow: 9px 7px 134px 53px rgba(0,0,0,0.67);
    border-radius: 21px 21px 21px 21px;
    -moz-border-radius: 21px 21px 21px 21px;
    -webkit-border-radius: 21px 21px 21px 21px;
    border: 0px solid #000000;
}

.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 19px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text--transparent {
    fill: transparent;
}

.anim-shape {
    -ms-transform-origin: 0x 150px;
    transform-origin: 0x 150px;
    -webkit-transform: scale(0, 1) translate(0, 0);
    -ms-transform: scale(0, 1) translate(0, 0);
    transform: scale(0, 1) translate(0, 0);
    -webkit-animation: moving-panel 3s infinite alternate;
    animation: moving-panel 3s infinite alternate;
    -webkit-transform-origin: 0x 150px;
}

.colortext .anim-shape:nth-child(1) {
    fill: #0E1826;
}

.colortext .anim-shape:nth-child(2) {
    fill: #166973;
}

.colortext .anim-shape:nth-child(3) {
    fill: #65BFA6;
}

.colortext .anim-shape:nth-child(4) {
    fill: #F2CD5C;
}

.colortext .anim-shape:nth-child(5) {
    fill: #F26444;
}

.shadow {
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
}

.anim-shape--shadow {
    fill: #000;
    fill-opacity: .2;
}

@-webkit-keyframes moving-panel {
    100% {
        -webkit-transform: scale(1, 1) translate(20px, 0);
        transform: scale(1, 1) translate(20px, 0);
    }
}

@keyframes moving-panel {
    100% {
        -webkit-transform: scale(1, 1) translate(20px, 0);
        transform: scale(1, 1) translate(20px, 0);
        }
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #00357C 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}