#modal {
  background-color: #050336;
}
.carta {
  border: #167df133 5px solid;
  background: linear-gradient(60deg, #0c6cc5d7, #022650);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
}
.fa-edit:before {
  color: #ffffffd4;
}
.fa-remove:before {
  color: #ffffffd4;
}
.fa-heart:before {
  color: #ffffffd4;
}
.custom-btn {
  width: 150px;
  height: 40px;
  color: #fff;
  border-radius: 0px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-2 {
  background: rgb(6, 14, 131);
  background: linear-gradient(0deg, #0c6cc5d7 0%, #022650 100%);
  border: none;
}
.btn-2:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(0deg, #022650 0%, rgba(2, 126, 251, 1) 100%);
}
.cardheader {
  margin: auto;
  text-align: center;
}
