h1 {
    font-size: 150px;
}

.animate__animated.animate__pulse {
    --animate-delay: 1.5s;
    --animate-duration: 8s;
    --animate-repeat: 2;
}

.navbarBackground {
    background: rgb(167, 25, 25);
    background: linear-gradient(90deg, rgba(167, 25, 25, 1) 0%, rgba(196, 26, 69, 1) 21%, rgba(144, 64, 84, 1) 38%, rgba(94, 89, 91, 1) 61%, rgba(0, 0, 0, 1) 100%);
}

.footerBackground {
    background: rgb(65, 65, 65);
    background: linear-gradient(90deg, rgba(65, 65, 65, 1) 0%, rgba(59, 59, 59, 1) 28%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);
}

.sidebarButtonsBackground {
    background: rgb(167, 25, 25);
    background: linear-gradient(90deg, rgba(167, 25, 25, 1) 0%, rgba(196, 26, 69, 1) 21%, rgba(144, 64, 84, 1) 38%, rgba(94, 89, 91, 1) 61%, rgba(0, 0, 0, 1) 100%);
}

td.disapproved {
    width: 2px;
    height: 6px;
    background: #ff01019c;
    border-radius: 50px;
    text-align: center;
    color: black;
}

td.working {
    width: 2px;
    height: 6px;
    background: #fffb017a;
    border-radius: 50px;
    text-align: center;
    color: black;
}

td.passed {
    width: 2px;
    height: 6px;
    background: #47aa3a94;
    border-radius:50px;
    text-align: center;
    color: black;
}

td.none {
    width: 2px;
    height: 6px;
    background: rgba(128, 128, 128, 0.664);
    border-radius: 50px;
    text-align: center;
    color: black;
}

.tituloPrincipal {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
}

.tituloSecundario {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}

.arrow-icon::before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    font-weight: 900;

    -webkit-transition: transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
}

.arrow-icon[aria-expanded="true"]::before {
    transform: rotate(90deg);
}


.fa-clock::before{
    
    font-family: "Font Awesome 5 Free";
    content: "\f017";
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    font-weight: 900;
    text-shadow: 4px 4px 4px black;
    
    color: #FF3B30;
}

.fa-user::before{
    
    font-family: "Font Awesome 5 Free";
    content: "\f017";
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    font-weight: 900;
    text-shadow: 4px 4px 4px black;
    
    color: #FF3B30;
}