<li class="mb-1">
    <button class="btn btn-link arrow-icon" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Administrador</button>
</li>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
        <li class="nav-item active">
            <a class="nav-link" href="listarProfesores">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="material-icons">article</i>
                <p style="text-shadow: 2px 1px 5px black">Listar profesores</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="listarUsuarios">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="material-icons">article</i>
                <p style="text-shadow: 2px 1px 5px black">Listar usuarios</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="agregarProfesor">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="fa fa-user-o"></i>
                <p style="text-shadow: 2px 1px 5px black">Agregar profesor</p>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="agregarProfesor">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="fa fa-user-o"></i>
                <p style="text-shadow: 2px 1px 5px black">Agregar preceptor</p>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="agregarProfesor">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="fa fa-user-o"></i>
                <p style="text-shadow: 2px 1px 5px black">Eliminar preceptor</p>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="agregarProfesor">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="fa fa-user-o"></i>
                <p style="text-shadow: 2px 1px 5px black">Configurar slider</p>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="agregarProfesor">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="fa fa-user-o"></i>
                <p style="text-shadow: 2px 1px 5px black">Realizar Backup</p>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="agregarUsuario">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="material-icons">perm_identity</i>
                <p style="text-shadow: 2px 1px 5px black">Agregar usuario</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="formularioImagen">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="material-icons">images</i>
                <p style="text-shadow: 2px 1px 5px black">Formulario Imagen</p>
            </a>
        </li>
    </div>
</div>
