<li class="mb-1">
    <button class="btn btn-link arrow-icon" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Administrador</button>
</li>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
        <li class="nav-item active">
            <a class="nav-link" href="backupDB">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="material-icons">article</i>
                <p style="text-shadow: 2px 1px 5px black">Backup de la DB</p>
            </a>
        </li>
    </div>
</div>
