<li class="mb-1">
    <div>
        <button class="btn btn-link arrow-icon" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Preceptor</button>
    </div>
</li>
<div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
        <li class="nav-item active">
            <a class="nav-link" href="agregarProfesor">
                <i class="fa fa-user-o"></i>
                <p>Agregar profesor</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="listarProfesores">
                <i class="fas fa-bars"></i>
                <p>Listar profesores</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="listarProfesores">
                <i class="fas fa-bars"></i>
                <p>Listar estudiantes</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="agregarMateria">
                <i class="fa fa-folder"></i>
                <p>Agregar materia</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="formularioImagen">
                <i class="material-icons">images</i>
                <p>Formulario Imagen</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="agregarEstudiante">
                <i class="material-icons">images</i>
                <p>Agregar Estudiante</p>
            </a>
        </li>
    </div>
</div>
