<div id="accordion">
    <div class="card" style="text-align:center; background: #80806e;">
		<div class="card-header" id="headingOne">
			<h5 class="mb-0">
				<button class="btn btn-link" style="color:darkgray;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Preceptor
				</button>
			</h5>
		</div>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
			<div class="card-body">
                <li class="nav-item active">
                    <a class="nav-link" href="agregarProfesor">
                        <i class="fa fa-user-o"></i>
                        <p>Agregar profesor</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="listarProfesores">
                        <i class="fas fa-bars"></i>
                        <p>Listar profesores</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="listarProfesores">
                        <i class="fas fa-bars"></i>
                        <p>Listar estudiantes</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="agregarMateria">
                        <i class="fa fa-folder"></i>
                        <p>Agregar materia</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="formularioImagen">
                        <i class="material-icons">images</i>
                        <p>Formulario Imagen</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="agregarEstudiante">
                        <i class="material-icons">images</i>
                        <p>Agregar Estudiante</p>
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>
