<li class="mb-1">
    <button class="btn btn-link arrow-icon" style="color: rgb(122, 117, 117)" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Estudiante</button>
</li>
<div id="collapseFour" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
        <li class="nav-item active">
            <a class="nav-link" href="listarProfesores">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="material-icons">article</i>
                <p style="text-shadow: 2px 1px 5px black">Estado académico</p>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="listarProfesores">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="material-icons">article</i>
                <p style="text-shadow: 2px 1px 5px black">Listar profesores</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="formularioImagen">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="material-icons">images</i>
                <p style="text-shadow: 2px 1px 5px black">Formulario Imagen</p>
            </a>
        </li>
    </div>
</div>
