<<<<<<< HEAD
<li class="nav-item active animate__animated animate__backInUp">
    <a class="nav-link" href="listarProfesores">
        <i class="material-icons">article</i>
        <p>Estado académico</p>
    </a>
</li>

<li class="nav-item active animate__animated animate__backInUp">
    <a class="nav-link" href="listarProfesores">
        <i class="material-icons">article</i>
        <p>Listar profesores</p>
    </a>
</li>
<li class="nav-item active animate__animated animate__backInUp">
    <a class="nav-link" href="formularioImagen">
        <i class="material-icons">images</i>
        <p>Formulario Imagen</p>
    </a>
</li>
=======
<div id="accordion">
    <div class="card" style="text-align:center; background: #80806e;">
		<div class="card-header" id="headingOne">
			<h5 class="mb-0">
				<button class="btn btn-link" style="color:darkgray;" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Profesor
				</button>
			</h5>
		</div>
		<div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
			<div class="card-body">
                <li class="nav-item active">
                    <a class="nav-link" href="listarProfesores">
                        <i class="material-icons">article</i>
                        <p>Estado académico</p>
                    </a>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link" href="listarProfesores">
                        <i class="material-icons">article</i>
                        <p>Listar profesores</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="formularioImagen">
                        <i class="material-icons">images</i>
                        <p>Formulario Imagen</p>
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>
>>>>>>> 58c2172e3b3c9da302d4b309dd8f3fd56b717144
