<li class="nav-item active animate__animated animate__backInLeft">
    <a class="nav-link" href="listarProfesores">
        <i class="material-icons">school</i>
        <p>Listar profesores</p>
    </a>
</li>