<li class="mb-1">
    <button class="btn btn-link arrow-icon" style="color: rgb(122, 117, 117)" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Estudiante</button>
</li>
<div id="collapseFour" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
        <li class="nav-item active">
            <a class="nav-link" href="listarProfesores">
                <i class="material-icons">article</i>
                <p>Estado académico</p>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="listarProfesores">
                <i class="material-icons">article</i>
                <p>Listar profesores</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="formularioImagen">
                <i class="material-icons">images</i>
                <p>Formulario Imagen</p>
            </a>
        </li>
    </div>
</div>
