<li class="mb-1">
    <button class="btn btn-link arrow-icon" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Acciones de profesor</button>
</li>
<div id="collapseThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="fas fa-angle-double-up"></i>
                <p style="text-shadow: 2px 1px 5px black">Cargar notas</p>
            </a>
        </li>

        <!-- <li class="nav-item active">
            <a class="nav-link" href="#">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="fas fa-angle-double-up"></i>
                <p style="text-shadow: 2px 1px 5px black">Cargar notas</p>
            </a>
        </li> -->

        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="fas fa-clipboard"></i>
                <p style="text-shadow: 2px 1px 5px black">Generar informe</p>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="cargarVistaEstudiante">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="far fa-id-card"></i>
                <p style="text-shadow: 2px 1px 5px black">estudiantes</p>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="estadisticas">
                <i style="text-shadow: 2px 1.5px 1.5px black" class="fab fa-think-peaks"></i>
                <p style="text-shadow: 2px 1px 5px black">Estadisticas</p>
            </a>
        </li>
    </div>
</div>
