<li class="nav-item active animate__animated animate__backInLeft">
    <a class="nav-link" href="#">
        <i class="material-icons">upgrade</i>
        <p>Cargar notas</p>
    </a>
</li>
<li class="nav-item active animate__animated animate__backInLeft">
    <a class="nav-link" href="#">
        <i class="material-icons">description</i>
        <p>Generar informe</p>
    </a>
</li>
<li class="nav-item active animate__animated animate__backInLeft">
    <a class="nav-link" href="listarMaterias">
        <i class="material-icons">face</i>
        <p>Ver materia</p>
    </a>
</li>