<li class="nav-item active animate__animated animate__backInLeft">
    <a class="nav-link" href="#">
        <i class="fas fa-arrow-up"></i>
        <p>Cargar notas</p>
    </a>
</li>
<li class="nav-item active animate__animated animate__backInLeft">
    <a class="nav-link" href="#">
        <i class="fas fa-file-alt"></i>
        <p>Generar informe</p>
    </a>
</li>
<li class="nav-item active animate__animated animate__backInLeft">
    <a class="nav-link" href="formularioImagen">
        <i class="material-icons">images</i>
        <p>Formulario Imagen</p>
    </a>
</li>