<li class="mb-1">
    <button class="btn btn-link" style="color: rgb(122, 117, 117)" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        Profesor
        <i class="fas fa-chevron-right"></i>
    </button>
</li>
<div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-arrow-up"></i>
                <p>Cargar notas</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-arrow-up"></i>
                <p>Cargar notas</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-file-alt"></i>
                <p>Generar informe</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="cargarVistaEstudiante">
                <i class="material-icons">article</i>
                <p>estudiantes</p>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="cargarAprendizajes">
                <i class="fas fa-file-alt"></i>
                <p>Cargar aprendizajes</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="estadisticas">
                <i class="fas fa-file-alt"></i>
                <p>Estadisticas</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="form">
                <i class="material-icons">article</i>
                <p>Form</p>
            </a>
        </li>
    </div>
</div>
